{% load static %}
{% load compress %}
{% load private_static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>React Testing</title>
      <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
            integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt"
            crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-6 text-center">
                <h3>PrimeReact chart component </h3>
                <div id="root"></div>
            </div>
        </div>
    </div>


    {% compress parcel file myts %}
        <script src="{% private_static 'components/ComboChart.tsx' %}"></script>
    {% endcompress %}
  </body>
</html>